apiVersion: v1
kind: Service
metadata:
  labels:
    app: orders-db
    name: orders-db
    version: v0.1.0
  name: orders-db
  namespace: sock-shop
spec:
  ports:
  - port: 27017
    targetPort: 27017
  selector:
    app: orders-db
    name: orders-db
    version: v0.1.0
