---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mizutest-grpc-py-client
  labels:
    name: mizutest-grpc-py-client
  namespace: sock-shop
spec:
  replicas: 1
  selector:
    matchLabels:
      name: mizutest-grpc-py-client
  template:
    metadata:
      labels:
        name: mizutest-grpc-py-client
    spec:
      containers:
      - name: mizutest-grpc-py-client
        image: mertyildiran/mizutest-grpc-py-client:latest
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        - name: PYTHONIOENCODING
          value: "UTF-8"
        imagePullPolicy: Always
        command: ["./run.sh"]
        resources:
          limits:
            cpu: 200m
            memory: 200Mi
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 50051
        securityContext:
          runAsNonRoot: true
          runAsUser: 10001
          capabilities:
            drop:
              - all
            add:
              - NET_BIND_SERVICE
          readOnlyRootFilesystem: true
      nodeSelector:
        beta.kubernetes.io/os: linux
